includeConfig 'configs/schedulers.config'

params.outdir = "atac_chip_preprocess_results"

process {

    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: process_trim {
        cpus   = { 8 }
        memory = { 4.GB }
    }

    withLabel: process_align {
        cpus   = { 16 }
        memory = { 16.GB }
    }

    withLabel: process_filter {
        cpus   = { 4 }
        memory = { 1.GB }
    }

    withLabel: process_cutsites {
        cpus   = { 6 }
        memory = { 4.GB }
    }

    withLabel: process_cutsites {
        cpus   = { 6 }
        memory = { 4.GB }
    }

    withLabel: process_peaks {
        cpus   = { 1 }
        memory = { 4.GB }
    }

    withLabel: process_frips {
        cpus   = { 2 }
        memory = { 2.GB }
    }

    withLabel: process_multiqc {
        cpus   = { 1 }
        memory = { 8.GB }
    }

}

profiles {

   docker {
          docker.enabled        = true        
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    test {

        process {

            withLabel: process_trim {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_align {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_filter {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_cutsites {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_peaks {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_frips {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_bigwigs {
                cpus   = { 1 }
                memory = { 1.GB }
            }

             withLabel: process_peaks {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel: process_frips {
                cpus   = { 1}
                memory = { 1.GB }
            }

            withLabel: process_multiqc {
                cpus   = { 1 }
                memory = { 1.GB }
            }

        params.samplesheet      = "$baseDir/test/samplesheet.csv"
        params.index            = "$baseDir/test/example_index"

        }

    }
    
}