
// input and mode:
params.fastq            = ''
params.mode             = 'paired' // single || paired

// Indexing with bowtie2-build:
params.idx              = ''
params.idx_threads      = 1
params.idx_mem          = '8G'
params.idx_additional   = ''
params.idx_name         = "$launchDir/bowtie2_idx"
params.idx_pubmode      = 'rellink' 
params.only_idx         = false // true for indexing and then exit))

// alignment:
params.skip_align       = false
params.trim_adapter     = ''
params.trim_additional  = ''
params.align_threads    = 1
params.align_mem        = "8.GB" // currently expected as integer
params.align_additional = '--very-sensitive'
params.align_dir        = "$launchDir/bam_raw/"   
params.align_pubmode    = 'rellink' 
params.sort_threads     = 1
params.sort_mem         = '1G' // must be in the form that samtools sort -@ recognizes and in Giga, and currently expected as integer
params.sort_additional  = ''

// post-alignment filtering:
params.skip_bamfilter           = false
params.bamfilter_dir            = "$launchDir/bam_filtered/"   
params.bamfilter_pubmode        = 'rellink' 
params.bamfilter_additional     = ''    
params.bamfilter_mapq           = 20   
params.bamfilter_keepchr        = 'chr[1-9,X,Y,EBV]' 
params.bamfilter_flag_keep      = ''    // there are defaults for single- and paired-end data, see README, or none
params.bamfilter_flag_remove    = ''    // there are defaults for single- and paired-end data, see README, or none
params.bamfilter_threads        = 1     

// collect insertsize metrics with Picard:
params.skip_isizes              = false
params.isizes_mem               = '4.GB'
params.isizes_dir               = "$launchDir/insert_sizes/"   
params.isizes_pubmode           = 'rellink'

// in ATAC-seq mode cutsites BED file:
params.atacseq                  = false
params.skip_cutsites            = false
params.cutsites_threads         = 3         // must be at least 3, is set to 3 if smaller than this
params.cutsites_mem             = '4G'      // for sort via GNU sort, in syntax correct for -S option
params.cutsites_dir             = "$launchDir/bed_cutsites/"   
params.cutsites_pubmode         = 'rellink'

// peak calling:
params.skip_macs                = false
params.macs_additional          = ''
params.macs_gflag               = '-g mm'
params.macs_format              = ''
params.macs_suffix              = ''
params.macs_control             = '' 
params.macs_dir                 = "$launchDir/macs2/"   
params.macs_mem                 = '4.GB'
params.macs_pubmode             = 'rellink'
params.frips_threads            = 1
params.frips_additional         = '' // leave as-is, set automatically
params.frips_mem                = '4.GB'
params.frips_dir                = "$launchDir/frips/"   
params.frips_pubmode            = 'rellink'
params.skip_qc                  = false

// cluster submission
params.queue                    = 'normal'          // SLURM queue on our HPC
params.clusteroptions           = '--time=12:00:00' // other arguments when submitting to a cluster:

// container
params.container                = 'atpoint/atac_chip_preprocess:v1.1.1'

// easy way to check whether testing mode is on:
params.testing                  = false

profiles {

    test_index {

        params.ref_genome       = "$baseDir/test/genome.fa.gz"
        params.idx_name         = "$baseDir/testout/bowtie2_idx/"
        params.idx_threads      = 1
        params.idx_mem          = '1G'
        params.idx_additional   = ''
        params.idx_pubmode      = 'move' 
        params.skip_align       = true
        params.skip_bamfilter   = true
        params.testing          = true

    }

    test_paired {

        params.mode             = 'paired'
        params.idx              = "$baseDir/test/example_index/idx"
        params.fastq            = "$baseDir/test/*_{1,2}.fastq.gz"
        params.sort_threads     = 0 // this is just to get GitHub Actions running
        params.cutsites_threads = 1 // this is just to get GitHub Actions running
        params.align_dir        = "$baseDir/testout/bam_raw/"
        params.bamfilter_dir    = "$baseDir/testout/bam_filtered/"
        params.cutsites_dir     = "$baseDir/testout/bed_cutsites/"
        params.macs_dir         = "$baseDir/testout/macs2/"
        params.frips_dir        = "$baseDir/testout/frips/"
        params.isizes_dir       = "$baseDir/testout/insert_sizes/"   
        params.align_mem        = '1.GB'
        params.sort_mem         = '1G'
        params.isizes_mem       = '1.GB'
        params.cutsites_mem     = '1G'
        params.frips_mem        = '1.GB'
        params.testing          = true

    }

    test_single {

        params.mode             = 'single'
        params.idx              = "$baseDir/test/example_index/idx"
        params.fastq            = "$baseDir/test/*_1.fastq.gz"
        params.sort_threads     = 0 // this is just to get GitHub Actions running
        params.cutsites_threads = 1 // this is just to get GitHub Actions running
        params.align_dir        = "$baseDir/testout/bam_raw/"
        params.bamfilter_dir    = "$baseDir/testout/bam_filtered/"
        params.cutsites_dir     = "$baseDir/testout/bed_cutsites/"
        params.macs_dir         = "$baseDir/testout/macs2/"
        params.frips_dir        = "$baseDir/testout/frips/"
        params.macs_additional  = '--nomodel --extsize 100 --shift -50 --keep-dup=all --min-length 150 -q 0.005' // tweaking to get some peaks if running in non-atac single-end mode
        params.isizes_dir       = "$baseDir/testout/insert_sizes/"   
        params.align_mem        = '1.GB'
        params.sort_mem         = '1G'
        params.isizes_mem       = '1.GB'
        params.cutsites_mem     = '1G'
        params.frips_mem        = '1.GB'
        params.testing          = true

    }

    conda {
        process.conda           = "${baseDir}/environment.yml"
        conda.enabled           = true
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    // submission on HPC:
    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = "${params.clusteroptions}"
    }

}
